<nav class="nav container my-3">
  <%= image_tag("logo.png" )%>
  <div class="menu-item">
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "Cars", cars_path %></p>
    <p><%= link_to "Garage", favourites_path %></p>
  </div>
</nav>
