<div class="bg-img">
  <div class="hero-content">
    <h1>Find cars you love in one place </h1>
    <h3>Every car has its own personality</h3>
    <p><%= link_to "Browse all car", cars_path, class: "btn-hero" %></p>
  </div>
</div>
