.review-form {
  width: 40%;
  input {
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    width: 30%;
    background-color: rgb(43, 43, 43);
    color: white;

    &:hover {
      background-color: #ffffff;
      color: #1f1f1f;
    }
  }
  textarea {
    border-radius: 8px;
  }
  select {
    border-radius: 8px;
  }
  .form-item {
    display: flex;
    flex-direction: column;
  }
}
